/* HOME SCREEN */

.home img {
	margin: 20% 0px 20px 0px;
	width: 300px;
}

.code-section {
	display: none;
}

/* FLOAT BUTTON */

.bottom-space {
	margin-bottom: 80px;
}

.btn-floating.second {
	margin-right: -10px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

/* FIELDS */

input {
	text-align: center;
}

input#code {
	font-size: x-large;
}