<div class="row home">
	<div class="col s12 center-align">
		<span class="main-icon fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x green-text"></i>
			<i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
		</span>

		<!-- EMAIL CONTROLS -->

		<div class="input-field email-section">
			<input id="email" type="email" required/>
			<label for="email">Escriba su correo electr贸nico</label>
			<p class="grey-text">Le enviaremos un c贸digo a su correo</p>
		</div>

		<!-- CODE CONTROLS -->

		<div class="input-field hidden code-section">
			<input id="code" type="number" max="9999" required/>
			<label for="code">Escriba su c贸digo</label>
			<p class="grey-text">Enviamos su c贸digo a <span class="mail"></span></p>
		</div>
	</div>
</div>

<div class="bottom-space"></div>

<!-- EMAIL BUTTONS -->

<div class="fixed-action-btn email-section">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="start()">
		<i class="material-icons">send</i>
	</a>
</div>

<!-- CODE BUTTONS -->

<div class="fixed-action-btn code-section">
	<a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.send({command:'LOGIN'})">
		<i class="material-icons">arrow_back</i>
	</a>
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="code()">
		<i class="material-icons">check</i>
	</a>
</div>
