<div class="row">
	<div class="col s12 push-m2 m8 push-l3 l6 box">
		<div class="icon circle">
			<img src="/images/apretaste_icon_64x64.png" alt="Apretaste">
		</div>

		<p class="center-align">Inicie o cree una sesión para continuar</p>

		<div id="wrapperEmail" class="input-field">
			<label for="email">Escriba su correo electrónico</label>
			<input id="email" type="email" required/>

			<div class="center-align">
				<p><small>Le enviaremos un código a su correo</small></p>
				<a class="btn waves-effect waves-light" href="#!" onclick="start()">
					<i class="material-icons">arrow_forward</i>
				</a>
			</div>
		</div>

		<div id="wrapperCode" class="input-field hidden">
			<label for="pin">Escriba su código</label><br/>
			<input id="pin" type="number" required/>

			<div class="center-align">
				<p><small>Enviamos su código a <span class="mail text-blue"></span> [<a href="#!" onclick="apretaste.send({command:'LOGIN'})">cambiar</a>]</small></p>
				<a class="btn waves-effect waves-light" href="#!" onclick="code()">
					<i class="material-icons">send</i>
				</a>
			</div>
		</div>
	</div>
</div>